
/* Resetando margens, preenchimentos e caixa-modelo para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', serif;
}

/* Estilo para o elemento body */
body {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 900px;
}

.logo {
  width: 98%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1px;
  position: fixed;
  top: 0;
}

.atalhos {
  position: absolute;
  right: 0;
  margin-right: 20px; 
  z-index: 2; /* Adicionei z-index para garantir que fique acima de outros elementos */
}

.defic {
  position: absolute;
  right: 0;
  margin-right: 20px; 
  margin-top: 400px;
  object-fit: cover; /* Faz a imagem cobrir toda a área sem distorção */
  z-index: 9999; /* Garante que a imagem fique sobre todos os outros elementos */
  cursor: pointer;
}


.chat {
  position: absolute; /* Posicionando o elemento absolutamente */
  right: 0; /* Alinhando à direita */
  bottom: 20px; /* Posicionando 800px abaixo do topo */
}

.search-icon {
  cursor: pointer;
  margin-left: 10px;
}

.search-icon img {
  width: 67px;
  height: auto;
}

.search-bar {
  position: absolute;
  left: 290px;
  top: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 9px 10px;
  display: none;
}

.search-bar.show {
  display: block;
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  padding: 8px;
  width: 200px;
}

.search-bar input[type="submit"] {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  outline: none;
  padding: 8px 15px;
}


.navbar {
  display: flex; /* Exibindo itens da navbar como flex items */
  justify-content: center; /* Centralizando itens horizontalmente */
  overflow: hidden; /* Escondendo overflow */
  background-color: #ffffff; /* Definindo cor de fundo */
  position: fixed; /* Fixando a posição da navbar */
  top: 79px; /* Posicionando 79px abaixo do topo */
  width: 100%; /* Fazendo a navbar ocupar toda a largura */
  border: 3px solid black; /* Adicionando borda */
  text-align: center; /* Centralizando texto dentro da navbar */
}

.navbar a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 140px;
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap; /* Adicionei essa linha */
} 

.navbar a:hover {
  background-color: #ddd; /* Cor de fundo ao passar por cima */
  color: black; /* Cor do texto ao passar por cima */
}



main {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem; /* reduziu o valor do gap */
  font-size: 1.5rem;
}

main img {
  width: 25rem; /* ajuste o valor de acordo com sua necessidade */
  margin-right: 0.5rem; /* adicionou um margin-right para aproximar a imagem do parágrafo */
}



main h1 {
  text-align: center;
}

main h2 {
  margin-left: -20px; /* ajuste o valor de acordo com sua necessidade */
}

main p {
  text-align: justify;
  width: 50%; /* ajuste o valor de acordo com sua necessidade */
  margin: 0 auto;
  font-size: 24px;

}

h1{
  font-size: 47px;
}

h2{
  font-size: 35px;
}



.dcapl {
  position: absolute;
  right: 600px;
  top: 750px;
}

.setinha {
  position: absolute;
  right: 540px;
  top: 745px;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1000; /* Adicionei z-index para garantir que fique acima de outros elementos de fundo */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 1001; /* Adicionei z-index para garantir que fique acima da modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



.modal-content .A1 {
  font-size: 18px;
  background-color: #9fa8a0; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remover borda do botão */
  border-radius: 5px; /* Arredondar cantos do botão */
  cursor: pointer; /* Mudar cursor para mão quando passar sobre o botão */
}

.modal-content .A2 {
  font-size: 22px;
  background-color: #9fa8a0; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remover borda do botão */
  border-radius: 5px; /* Arredondar cantos do botão */
  cursor: pointer; /* Mudar cursor para mão quando passar sobre o botão */
}

.modal-content .A3 {
  font-size: 30px;
  background-color: #9fa8a0; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border: none; /* Remover borda do botão */
  border-radius: 5px; /* Arredondar cantos do botão */
  cursor: pointer; /* Mudar cursor para mão quando passar sobre o botão */
}

.modal-content .A1:hover, 
.modal-content .A2:hover, 
.modal-content .A3:hover {
  background-color: #707270; /* Cor de fundo do botão quando passar o mouse */
}



.modal-content h1, .modal-content h2 {
  margin-bottom: 0; /* Remove a margem inferior */
}

.modal-content h2 {
  margin-top: 0; /* Remove a margem superior */
}